body {
	margin:0;
	padding:0;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.2);
	font-weight:100;
    text-transform:capitalize;
	font-family:Neutra;
	color:#f3f3f3;
	letter-spacing:1;
}

@font-face{
	font-family:Distant;
	src:url(Stuff/Distant.otf);
}
@font-face{
	font-family:Neutra;
	src:url(Stuff/Neutra.ttf);
}
@font-face{
	font-family:Fajardo;
	src:url(Stuff/Fajardo.ttf);
}


#weekday{
       position:absolute; top:213px; left:0px; width:375px; text-align:center; z-index:100;
       font-size:63.75px;
       line-height:150%;
	   font-family:Distant; 
	   -webkit-transform:rotateZ(-2deg);
}

#L{
	   position:absolute; top:260px; left:93.75px; width:187.5px; z-index:20;
       -webkit-filter:drop-shadow(1px 1px 1px rgba(0,0,0, 0.2));
}

#Clock{
       position:absolute; top:283.5px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:48.75px;
       font-family:Fajardo;
       text-transform:lowercase;
}

#Calendar{
       position:absolute; top:347px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:17px;
       font-family:Neutra;
       text-transform:lowercase;
}

