Package: com.evynw.lsew10xi
Name: LS EW10_XI
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.xeninfo
Architecture: iphoneos-arm
Description: Clock + weather in a box. 2 versions included.
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew10xi
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
