Package: com.evynw.lsew11xi
Name: LS EW11_XI
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.xeninfo
Architecture: iphoneos-arm
Description: Clock + weather on a black overlay
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew11xi
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
