Package: com.evynw.ew5msgbubbles
Name: EW5.MessageBubbles
Version: 1.1
Architecture: iphoneos-arm
Description: New designs with partial transparency
Depiction: https://evynw.github.io/depictions/?p=com.evynw.ew5msgbubbles
SileoDepiction: https://evynw.github.io/sileo/ew5msgbubbles.json
Icon: https://evynw.github.io/depictions/sectionIcons/Others.png
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Others
