Package: com.evynw.fontglobertm
Name: Glober (TM)
Depends: com.evynw.repoicons
Version: 1.0
Architecture: iphoneos-arm
Description: Clean-looking sans-serif. For BytaFont Tweak Mode.
Depiction: https://evynw.github.io/depictions/?p=com.evynw.fontglobertm
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Fonts (Tweak Mode)
