body {
	margin:0;
	padding:0;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.3);
	font-weight:100;
       text-transform:uppercase;
	font-family:gudea;
	color:#f3f3f3;
	letter-spacing:2;
}

@font-face{
	font-family:deco;
	src:url(Stuff/Deco.ttf);
}
@font-face{
	font-family:gudea;
	src:url(Stuff/gudea.otf);
}
@font-face{
	font-family:Kanji;
	src:url(Stuff/Kanji.ttf);
}

#Clock{
       position:absolute; top:253.5px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:41.25px; font-family:Kanji;
}
#ampm{font-size:20.6px;}

#Cal{
       position:absolute; top:227px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:12px;
}

#weekday{
       position:absolute; top:307px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:18.75px; font-family:deco; 
}

#weather{
       position:absolute; top:343.5px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:12px;
}

#R{
       position:absolute; top:213.4px; left:75px; width:225px; height:160px; z-index:30;
       border-radius:10px; border:2px solid rgba(235,235,235,0.85); box-sizing:border-box;
       -webkit-backdrop-filter:blur(7px);
}
#L{
       position:absolute; top:303.5px; left:103px; width:168.75px; height:1.4px; z-index:40;
       background-color:#efefef;
       opacity:0.9;
}

