Package: com.evynw.ew88iwgt
Name: EW88.iWidget
Version: 1.0
Depends: com.evynw.repoicons
Architecture: iphoneos-arm
Description: A HS widget from my 3800PACK
Depiction: https://evynw.github.io/depictions/?p=com.evynw.ew88iwgt
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Homescreen Widgets
