Package: com.evynw.lsew199
Name: LS EW199
Version: 1.0
Depends: com.evynw.repoicons
Architecture: iphoneos-arm
Description: A LS widget from my 3800PACK.
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew199
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
