body{
	margin:0;
	padding:0;
	font-weight:100;
	text-shadow:0px 1px 1px rgba(0,0,0,0.2);
	font-family:neutra;
	text-transform:uppercase;
	color:#f3f3f3;
	letter-spacing:1;
}

@font-face{
	font-family:neutra;
	src:url(Stuff/neutraface.ttf);
}

#minute{
       position:absolute; top:167px; left:99.375px; width:56px; text-align:center; z-index:50;
       font-size:37.5px;
       color:#eece6c;
}

#hour{
       position:absolute; top:203.4px; left:99.375px; width:56px; text-align:center; z-index:50;
       font-size:16.875px;
}

#weekday{
       position:absolute; top:180px; left:163px; width:105px; text-align:center; z-index:50;
       font-size:18.75px;
}

#date{
       position:absolute; top:246.8px; left:99.375px; width:56px; text-align:center; z-index:50;
       font-size:37.5px;
       color:#eece6c;
}

#temp{
       position:absolute; top:283.5px; left:99.375px; width:56px; text-align:center; z-index:50;
       font-size:16.875px;
}

#month{
       position:absolute; top:260px; left:163px; width:105px; text-align:center; z-index:50;
       font-size:18.75px;
}


#L1,#L2{
       position:absolute; left:163px; width:105px; height:1.4px; z-index:-70;
       background-color:#f3f3f3;
       opacity:0.6;
}
#L1{top:200px;}
#L2{top:280px;}

