Package: com.evynw.lsew1
Name: LS EW1
Version: 1.0
Depends: com.evynw.repoicons
Architecture: iphoneos-arm
Description: First ever LS widget. Feelin' nostalgic!
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew1
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
