Package: com.evynw.lsewlegacyxi
Name: LS EW.Legacy_XI
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.xeninfo
Architecture: iphoneos-arm
Description: Simple clock & battery with a stock look
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsewlegacyxi
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
