body{
      margin:0;
      padding:0;
      font-weight:100;
      text-shadow:0px 1px 1px rgba(0,0,0,0.2);
      font-family:reg;
      text-transform:uppercase;
      color:#f3f3f3;
      letter-spacing:1;
}

@font-face{
      font-family:baron;
      src:url(Stuff/Baron.otf);
}
@font-face{
      font-family:reg;
      src:url(Stuff/regular.otf);
}

#Container{
      position:absolute; bottom:0px; left:0px; width:375px; height:667px;
      overflow:hidden;
}

#ampm{
       position:absolute; top:593.5px; left:12px; width:375px; text-align:left; z-index:50;
       font-size:15px; font-family:baron; opacity:0.7;
}
#Clock{
       background-image:url("/var/mobile/Library/SpringBoard/LockBackgroundThumbnail.jpg");
       background-size:100%;
       background-position:0% 100%;
       background-repeat:no-repeat;
       position:absolute; top:90.2%; left:0px; width:375px; text-align:center; z-index:50;
       font-size:15vw;
       font-family:baron;
       text-shadow:0px 0px 0px rgba(255,255,255,0.15);
       -webkit-text-fill-color:transparent;
       -webkit-background-clip:text;
       letter-spacing:2;
}


#Cal{
       position:absolute; top:518px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:12px;
}


#Weather{
       position:absolute; top:538px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:12px;
}


#Blur1{
      position:absolute; top:507px; left:-3px; width:381px; height:73px; z-index:-100;
      -webkit-backdrop-filter:blur(8px);
}

#R2{
       position:absolute; top:580px; left:0px; width:375px; height:87px; z-index:10;
       background-color:#222; opacity:0.96;
}

#Battery{
       position:absolute; top:558px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:12px; 
}