Package: com.evynw.ew1pagedots
Name: EW1.PageDots
Depends: com.anemonetheming.anemone
Version: 1.0
Architecture: iphoneos-arm
Description: Page dots in the shape of X's and O's
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
