body {
	margin:0;
	padding:0;
	text-shadow:1px 1px 1px rgba(33,33,33, 0.3);
	font-weight:100;
       text-transform:uppercase;
	font-family:light;
	color:#444;
	letter-spacing:2;
}

@font-face{
	font-family:deco;
	src:url(Stuff/Deco.ttf);
}
@font-face{
	font-family:light;
	src:url(Stuff/Light.otf);
}
@font-face{
	font-family:kanji;
	src:url(Stuff/Kanji.ttf);
}

#Clock{
       position:absolute; top:254px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:41.25px; font-family:kanji;
}
#ampm{font-size:20.6px;}

#Cal{
       position:absolute; top:230px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:10.5px;
}

#weekday{
       position:absolute; top:307px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:18.75; font-family:deco; 
}

#weather{
       position:absolute; top:345px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:10.5px;
}


#R1{
	position:absolute; top:213.4px; left:75px; width:225px; height:160px; z-index:-70;
       background-color:#f2f2f2;
       border-radius:10px;
       box-shadow: 0 6px 4px -4px rgba(33,33,33, 0.8);
}
#R2{
       position:absolute; top:219.4px; left:81px; width:213px; height:148px; z-index:20;
       background-color:none;
       opacity:0.9;
       border-radius:8px;
       border:1.5px solid rgba(85,85,85,0.8); box-sizing:border-box;
}
#L{
       position:absolute; top:303.5px; left:103px; width:168.75px; height:1.4px; z-index:40;
       background-color:#555;
       opacity:0.9;
}

