Package: com.evynw.lsew8xi
Name: LS EW8_XI
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.xeninfo
Architecture: iphoneos-arm
Description: Clock + weather/battery on overlays
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew8xi
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
