body {
	margin:0;
	padding:0;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.2);
	font-weight:100;
  	text-transform:uppercase;
	font-family:ps;
	color:#f3f3f3;
	letter-spacing:3;
}

@font-face{
	font-family:luna;
	src:url(Stuff/Luna.ttf);
}
@font-face{
	font-family:ps;
	src:url(Stuff/ProductSans.ttf);
}
@font-face{
	font-family:ram;
	src:url(Stuff/Rampung.ttf);
}


#R{
	position:absolute; top:160px; left:150px; width:75px; height:75px; z-index:20;
	background-color:none;
	outline:2px solid #f3f3f3; box-sizing:border-box;
	box-shadow:1px 1px 1px rgba(0,0,0, 0.2);
}

#hour{
    position:absolute; top:163.5px; left:152px; width:37.5px; text-align:center; z-index:50;
    font-size:20.25px; letter-spacing:3;
}

#minute{
    position:absolute; top:187px; left:152px; width:37.5px; text-align:center; z-index:50;
    font-size:20.25px; letter-spacing:3;
}

#weekday{
    position:absolute; top:227px; left:0px; width:375px; text-align:center; z-index:50;
    font-size:26.25px; font-family:luna; 
}

#Cal{
    position:absolute; top:275px; left:0px; width:375px; text-align:center; z-index:50;
    font-size:11.25px; font-family:ram;
}
