Package: com.evynw.lsew92
Name: LS EW92
Version: 1.0
Depends: com.evynw.repoicons
Architecture: iphoneos-arm
Description: Brightly coloured clock
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew92
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
