body{
	margin:0;
	padding:0;
	font-weight:100;
	text-shadow:0px 1px 1px rgba(0,0,0,0.3);
	font-family:Miso;
	text-transform:uppercase;
	color:#f3f3f3;
	letter-spacing:1;
}

@font-face{
      font-family:Notera;
      src:url(Stuff/Notera.ttf);
}
@font-face{
      font-family:Moon;
      src:url(Stuff/Moon.otf);
}
@font-face{
      font-family:Miso;
      src:url(Stuff/Miso.ttf);
}

#temp{
       position:absolute; top:156.7px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:16.875px;
}
#weatherIcon{
       position:absolute; top:167px; left:120px; width:135px; z-index:10;
}


#weekday{
       position:absolute; top:250px; left:-11.25px; width:375px; text-align:center; z-index:50;
       font-size:52.5px; 
       font-family:Notera; color:#f3f3f3; text-transform:capitalize;
       text-shadow:0px 2px 2px rgba(0,0,0,0.3);
       -webkit-transform:rotateZ(-10deg);
}

#Clock{
       position:absolute; top:293.5px; left:206px; width:187.5px; text-align:left; z-index:50;
       font-size:24px;
}

#BatteryLevel{
       position:absolute; top:640px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:10.5px; font-family:Moon; text-transform:lowercase;
}

