Package: com.evynw.sbew34ai
Name: SB EW34_AneInfo
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.aneinfo
Architecture: iphoneos-arm
Description: AnemoneHTML with clock & weather in a banner
Depiction: https://evynw.github.io/depictions/?p=com.evynw.sbew34ai
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Homescreen Widgets
