Package: com.evynw.ew1pagedots
Name: EW1.PageDots
Depends: com.anemonetheming.anemone, com.evynw.repoicons
Version: 1.0
Architecture: iphoneos-arm
Description: Page dots in the shape of X's and O's
Depiction: https://evynw.github.io/depictions/?p=com.evynw.ew1pagedots
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Others
