Package: com.evynw.fontopensans1011
Name: Open Sans (iOS10/11)
Depends: com.anemonetheming.anemone, com.evynw.repoicons
Version: 1.0
Architecture: iphoneos-arm
Description: Classic sans-serif. For Anemone.
Depiction: https://evynw.github.io/depictions/?p=com.evynw.fontopensans1011
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Anemone Fonts
