body{
      margin:0;
      padding:0;
      font-weight:100;
      text-shadow:0px 1px 1px rgba(0,0,0,0.2);
      font-family:deco;
      text-transform:uppercase;
      color:#f3f3f3;
      letter-spacing:1;
}

@font-face{
      font-family:Pb;
      src:url(Stuff/Pb.ttf);
}
@font-face{
      font-family:deco;
      src:url(Stuff/Deco.ttf);
}
@font-face{
      font-family:Ot;
      src:url(Stuff/Ot.otf);
}

#R1{
       position:absolute; top:233.5px; left:-3px; width:381px; height:133px; z-index:-90;
       background-color:black; opacity:0.6;
       border:1px solid rgba(238,238,238,0.6);
       box-shadow:0px 0px 20px rgba(0,0,0, 0.7);
}


#hour{
       position:absolute; top:194px; left:7.5px; width:375px; text-align:left; z-index:50;
       font-size:127.5; font-family:Ot; letter-spacing:1.5;
}
#minute{
       position:absolute; top:194px; left:-7.5px; width:375px; text-align:right; z-index:50;
       font-size:127.5; font-family:Ot; letter-spacing:1.5;
}


#weekday{
       position:absolute; top:240px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:45px; font-family:Pb;
}


#Cal{
       position:absolute; top:293.5px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:15px; 
}


#year{
       position:absolute; top:320px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:12.75px; letter-spacing:2.5;
}


#Weather{
       position:absolute; top:340px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:13.5px; 
}

