body{
      margin:0;
      padding:0;
      font-weight:100;
      text-shadow:1px 1px 1px rgba(45,45,45,0.2);
      font-family:Regular;
      text-transform:uppercase;
      color:#555;
      letter-spacing:1;
}
@font-face{
      font-family:Regular;
      src:url(Stuff/Regular.otf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px; z-index:0;
      overflow:hidden;
}
#R1{
      position:absolute; top:93.4px; left:-18.75px; width:450px; height:53.36px; z-index:20;
      background-color:#f2f2f2;
      box-shadow:2px 2px 3px rgba(33,33,33,0.35);
      -webkit-transform:rotate(-4deg);
}
#R2{
      position:absolute; top:100px; left:-18.75px; width:450px; height:53.36px; z-index:10;
      background-color:#dfdfdf;
      box-shadow:2px 2px 3px rgba(33,33,33,0.35);
      -webkit-transform:rotate(3deg);
}

#Stuff{
      position:absolute; top:110px; left:0px; width:375px; text-align:center; z-index:50;
      font-size:18px; 
      -webkit-transform:rotate(-4deg);
}

