body {
	margin:0;
	padding:0;
	text-shadow:1px 1px 1px rgba(0,0,0, 0.3);
	font-weight:100;
      text-transform:uppercase;
	font-family:future;
	color:#f3f3f3;
	letter-spacing:2.2;
}

@font-face{
	font-family:future;
	src:url(Stuff/Future.ttf);
}
@font-face{
	font-family:galano;
	src:url(Stuff/Galano.otf);
}
@font-face{
	font-family:housegrind;
	src:url(Stuff/Housegrind.ttf);
}

#Clock{
       position:absolute; top:180px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:37.5px; font-family:galano;
}
#ampm{font-size:20.5px;}

#Cal{
       position:absolute; top:243.5px; left:2px; width:375px; text-align:center; z-index:50;
       font-size:10.5px;
}

#weekday{
       position:absolute; top:250.8px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:45px; font-family:housegrind; text-transform:capitalize;
       line-height:150%; letter-spacing:1.2;
}

#BatteryLevel{
       position:absolute; top:625.6px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:8.25px;
}


#L1{
       position:absolute; top:225.5px; left:112.5px; width:152.6px; height:1.4px; z-index:70;
       background-color:#f3f3f3;
}
#L2{
       position:absolute; top:613.5px; left:37.5px; width:300px; height:1px; z-index:70;
       background-color:#f3f3f3;
       opacity:0.6;
}
#R{
	 position:absolute; top:233.5px; left:112.5px; width:150px; height:30px; z-index:10;
       background-color:none;
	 border:2.5px solid #f3f3f3;
}

