Package: com.evynw.lsew4xi
Name: LS EW4_XI
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.xeninfo
Architecture: iphoneos-arm
Description: Still updating old widgets for iOS11
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew4xi
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
