Package: com.evynw.sbew30ai
Name: SB EW30_AneInfo
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.aneinfo
Architecture: iphoneos-arm
Description: Old widget, but seems quite popular
Depiction: https://evynw.github.io/depictions/?p=com.evynw.sbew30ai
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Homescreen Widgets
