h2 {
    color: #6d6d72;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

body {
    background-color: #efeff4;
    font: 13px "Fira Sans", sans-serif;
    font-weight:400;
    margin-left:12px;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.badge-label {
    border-radius: 1em;
}

.panel,
.list-group-item,
.alert {
    border-radius: 0 !important;
}

.row{
    width:104%;
}

.list-group-item:last-child {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: -1px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAAn0lEQVRIx73VUQqAIBAEUCm6WWIQ/hZBh+nmtkGGyKKzuiTMj8FD1sFMCMHkoTVTVu5bLRxmKdcbMVrCmtAUcwwmRiM2Uc4CCKPpCVXQfIbdKHfLXSi/CaKUAQIF6EYZIbAVrdcAQ/eIYmUVoJrgAYESTOtSvvn9VxsQ81CxUUzzcfDFuWti0ge2iuUnXHoxboauB0N+oyKs1EPbgj25AROsvvXJNxxhAAAAAElFTkSuQmCC);
    background-position: 96.5% center;
    background-repeat: no-repeat;
    background-size: 10px 13px;
    max-height: 43px;
}

.subshots {
    text-align: center;
    max-width: 96.5%;
}

.subshots:nth-child(1) {
    margin-bottom: 6px;
}

.screenshots img {
    display: block;
    height: auto;
    line-height: 1;
    max-width: 100%;
    width: 100%;
    margin-left: 16px;
}

.package-buttons {
    margin-top: 10px;
}

.repo-buttons {
    margin-top: 20px;
}

.package-error {
    display: none;
}

.screenshots {
    display: none;
}

.fullchangelog {
    display: none;
}

.latest-version {
    vertical-align: right;
}

.icon {
    height: 30px;
    width: 30px;
    margin-right: 8px;
    margin-top: -4px;
}

.panel-default>.fullchangelog-header,
.panel-default>.screenshots-header {
    font-size: 13px;
    max-height: 43px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAaCAYAAAC3g3x9AAAAn0lEQVRIx73VUQqAIBAEUCm6WWIQ/hZBh+nmtkGGyKKzuiTMj8FD1sFMCMHkoTVTVu5bLRxmKdcbMVrCmtAUcwwmRiM2Uc4CCKPpCVXQfIbdKHfLXSi/CaKUAQIF6EYZIbAVrdcAQ/eIYmUVoJrgAYESTOtSvvn9VxsQ81CxUUzzcfDFuWti0ge2iuUnXHoxboauB0N+oyKs1EPbgj25AROsvvXJNxxhAAAAAElFTkSuQmCC);
    background-position: 96.5% center;
    background-repeat: no-repeat;
    background-size: 10px 13px;
}

.panel-default>.fullchangelog-header.toggle,
.panel-default>.screenshots-header.toggle {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAUCAYAAACTQC2+AAAAAXNSR0IArs4c6QAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAAAUBJREFUSA3FlMFKAzEQhldtaS9epJZWqCffQBCqZ6kXz75kvRR8Cu8qor6Az6D1/5YdSGOyO1kEB/7NzCSZL5PAVtU/2vAP2L9qHERFbxRfSM/SdzTnDYHcSXPp3TaFoJWSS+lIOpH6wAxypv0LifhDqgx0Lf+SRGN9YCHE6pzKqWGAgFzZTDCWwFIQKwVssK/P2DKJkSvgvimUszaI7RnR0at0KPEuKWvrzAN5VNEHe6M+MDeE0xsIvwTGPq6Uq81Z3YlN7pkTjLfyz4M4dt+ahBvC+rAjK+jpjHfL2U4ntigFYq4LZvvjMQlhUQ7EXCksC+kClcBaIR4Qa3j840bEsT0psZG28UQYt12draPAizSVAIYG5F7q/NN7QBQ22Ez+hISMvzuQL4Iu84KoA4ziwD6lteSCaF0v43AlB6whP4ryPF7h+AGuAAAAAElFTkSuQmCC');
    background-size: 13px 10px;
}
