body {
    font-family: 'Karla', sans-serif;
    color:#242424;
}
h5{
    font-weight: 700;
}
.disable-hover {
    pointer-events: none;
}

.link-group {
    list-style-type: none;
    padding: 22px 15px;
    display: block;
    text-align: left;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: #68c1ba !important;
    text-align: left;
}

.link-item:hover {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #fff;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #f5f5f5;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

.badge{
    font-size:0.8em;
}
