Package: com.evynw.lsew22xi
Name: LS EW22_XI
Version: 1.0
Depends: com.evynw.repoicons, com.junesiphone.xeninfo
Architecture: iphoneos-arm
Description: Clock + weather - I'm bad at describing widgets.
Depiction: https://evynw.github.io/depictions/?p=com.evynw.lsew22xi
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Lockscreen Widgets
