Package: com.evynw.fontglober1011
Name: Glober (iOS10/11)
Depends: com.anemonetheming.anemone, com.evynw.repoicons
Version: 1.0
Architecture: iphoneos-arm
Description: Clean-looking sans-serif. For Anemone.
Depiction: https://evynw.github.io/depictions/?p=com.evynw.fontglober1011
Author: Evelyn (ev_ynw)
Maintainer: Evelyn (ev_ynw) <ev.ynam.w@gmail.com>
Section: Anemone Fonts
